{% extends 'base.html' %} {% block content %}
<h2>Customize Your Cat</h2>
<form method="POST">
	<fieldset>
		<legend>What Color Do You Like The Most?</legend>
		<label
			><input id="any" type="radio" name="color" value="" checked />
			Any</label
		>
		<label
			><input id="orange" type="radio" name="color" value="orange" />
			Orange</label
		>
		<label
			><input id="grey" type="radio" name="color" value="grey" />
			Grey</label
		>
		<label
			><input id="white" type="radio" name="color" value="white" />
			White</label
		>
		<label
			><input id="black" type="radio" name="color" value="black" />
			Black</label
		>
		<label
			><input id="mix" type="radio" name="color" value="mix" /> Mix</label
		>
	</fieldset>
	<fieldset>
		<legend>What Color Do You Like Your Cat's Eye To Be?</legend>
		<label
			><input id="any" type="radio" name="eye_color" value="" checked />
			Any</label
		>
		<label
			><input id="yellow" type="radio" name="eye_color" value="yellow" />
			Yellow</label
		>
		<label
			><input id="grey" type="radio" name="eye_color" value="grey" />
			Grey</label
		>
		<label
			><input id="blue" type="radio" name="eye_color" value="blue" />
			Blue</label
		>
		<label
			><input id="green" type="radio" name="eye_color" value="green" />
			Green</label
		>
		<label
			><input id="black" type="radio" name="eye_color" value="black" />
			Black</label
		>
	</fieldset>
	<fieldset>
		<legend>What Age Do You Want Your Cat To Be?</legend>
		<label
			><input id="any" type="radio" name="age" value="" checked />
			Any</label
		>
		<label
			><input id="kitten" type="radio" name="age" value="kitten" />
			kitten</label
		>
		<label
			><input id="adult" type="radio" name="age" value="adult" />
			Adult</label
		>
		<label
			><input id="senior" type="radio" name="age" value="senior" />
			Senior</label
		>
	</fieldset>
	<fieldset>
		<legend>What Gender Do You Want Your Cat To Be?</legend>
		<label
			><input id="any" type="radio" name="gender" value="" checked />
			Any</label
		>
		<label
			><input id="male" type="radio" name="gender" value="male" />
			Male</label
		>
		<label
			><input id="female" type="radio" name="gender" value="female" />
			Female</label
		>
	</fieldset>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
