body {
	background: #f8f9fa;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	margin-top: 20px;
}

.cat-card {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #ffffff;
	transition: box-shadow 0.3s ease;
}

.cat-card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cat-image {
	width: 100%;
	height: auto;
	max-height: 300px; /* Adjust this value as needed */
	object-fit: cover;
	transition: transform 0.3s ease;
	border-radius: 15px;
}

.cat-image:hover {
	transform: scale(1.05);
}

.cat-details {
	font-size: 1rem;
	padding: 20px;
	background: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.confirm-details {
	font-size: 1rem;
	padding: 20px;
	background: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cat-name {
	font-size: 1.8rem;
	margin-bottom: 10px;
	color: #333;
}

.price {
	font-size: 1.4rem;
	color: #28a745;
	font-weight: bold;
}

.btn {
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 1rem;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #007bff;
	border: none;
	color: #ffffff;
}

.btn-primary:hover {
	background-color: #0056b3;
}

.btn-success {
	background-color: #28a745;
	border: none;
	color: #ffffff;
}

.btn-success:hover {
	background-color: #1e7e34;
}

.btn-danger {
	background-color: #dc3545;
	border: none;
	color: #ffffff;
}

.btn-danger:hover {
	background-color: #c82333;
}

.btn-outline-secondary {
	border-color: #6c757d;
	color: #6c757d;
}

.btn-outline-secondary:hover {
	background-color: #6c757d;
	color: #ffffff;
}

.timer p {
	font-size: 1.2rem;
	color: #333;
}
